<div class="container">
    
    <fa-icon [icon]="faArrowLeft"></fa-icon>
    <h1 class="titulo">Login</h1>

    <form (ngSubmit)="capturarDados()">
        <div class="linha">
            <fa-icon [icon]="faUser"></fa-icon>
            <input type="text" id="cpf" placeholder="Digite seu CPF" name="cpf" [(ngModel)]="userModel.cpf">
        </div>

        <div class="linha">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <input type="email" id="usuario" placeholder="Seu e-mail" name="usuario" [(ngModel)]="userModel.email">
        </div>

        <div class="linha">
            <fa-icon [icon]="faLock"></fa-icon>
            <input type="password" id="senha" placeholder="******" name="senha" [(ngModel)]="userModel.senha">
        </div>


        <p class="mensagem"></p>



        <button class="signin" type="submit">Login</button>

    </form>

</div>